*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gold: rgba(251, 210, 67, 1);

}

a{
  text-decoration: none;
}

body{
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

li{
  list-style: none;
}


/* LAYOUT */
.container{
  margin: 0 auto;
  max-width: 1440px;
  max-height: 1100px;
  padding: 2rem 4rem;
  position: relative;
}


/* header */
.header{
  display: flex;
  align-items: center;
}

.header .logo{
  height: 50.95px;
  width: 149.41px;
  cursor: pointer;
}

.header .logo .sinau{
  font-size: .7rem;
  letter-spacing: .6rem;
  height: 8.556000709533691px;
  width: 74.63240814208984px;
  text-transform: uppercase;
}

.header .logo .geograph{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
  height: 34.560001373291016px;
  width: 141.18487548828125px;
}

.header .logo .geograph span{
  color: var(--gold);
}


.header nav{
  flex-grow: 1;
}

.header nav ul{
  margin-left: 60px;
  width: 362px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav ul li a{
  color: rgba(97, 100, 98, 1);
  
  font-size: .9rem;
  font-weight: 500;
  /* identical to box height, or 200% */
  
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.header nav ul li:first-child a{
  color: #6CB48F;
}


.header .rec-menu{
  
  width: 28px;
  height: 13px; 
  
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .rec-menu .rec0{
  width: 28px;
  height: 3px;
  
  background: #2C2D36;
}

.header .rec-menu .rec1{
  width: 14px;
  height: 2px;
  
  background: #2C2D36;
}



.main{
  display: flex;
  width: 100%;
}

/* left section */
.main .info{
  width: 50%;
  position: relative;
}

.main .info h3{
  color: #6CB48F;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.main .info h3 span{
  color: var(--gold);
  margin-top: 5rem;
}

.main .info h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 9.5rem;
  font-weight: 500;
  line-height: .9;
  letter-spacing: -3px;
  margin: .5rem 0 1.5rem 0;
}

.main .info > p{
  width: 528px;;
  font-size: 1.5rem;
  color: #707581;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.45rem;
  letter-spacing: 0.02em;
}

.main .info input{
  background: #6CB48F;
  box-shadow: 20px 20px 60px #C3DDD0;
  border: none;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: .9rem;  
  text-transform: uppercase;
  margin: 6rem 0;
  color: #FFFFFF;
}

.main .info .free-ebook{
  width: 397px;
  /* height: 41px; */
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
}

.main .info .free-ebook .free{
  background: #FCA034;
  border-radius: 5rem;
  color: #FFFFFF;
  font-size: .85rem;
  font-weight: 600;
  padding: .25rem .7rem;
  text-transform: uppercase;
}

.main .info .free-ebook .ebook{
  font-size: .8rem;
  margin: 0 2rem 0 1rem;
}

.main .info .free-ebook .circle{
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #6CB48F;
  position: relative;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main .info .free-ebook .arrow-line{
  border-bottom: 1px solid #FFFFFF;
  width: 11px;
}

.main .info .free-ebook .arrow{
  border: solid #FFFFFF;
  border-width: 0 1px 1px 0;
  padding: .1rem;
  position: absolute;
  left: 8px;
}

.main .info .free-ebook .right{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.main .info .free-ebook .outside-line{
  position: relative;
  right: 0;
  border-bottom: 1px solid #6CB48F;
  width: 15px;
}



/* right section */
.main .visual-info{
  width: 50%;
  position: relative;
}

/* image box */
.image-box{
  position: relative;
  width: 100%;
}

.image-box img{
  width: 100%;
}

/* rectangle gradient box */
/* .gradient-rec-box{
  position: absolute;
  width: 400px;
  height: 600px;
  left: 400px;
  top: 100px;
  background: linear-gradient(180deg, #E6F5EB 0%, rgba(230, 245, 235, 0) 100%);
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
} */